name: Build and Release Filter Lists

on:
  push:
    branches: [ main ]

  schedule:
    - cron: "0 15 * * *"

  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Download dependencies
        run: |
          go mod download
          go mod verify

      - name: Run build/generation script
        run: |
          bash ./generate.sh

      - name: Generate tag name
        run: echo "TAG_NAME=$(date +%F-%H-%M)" >> $GITHUB_ENV

      - name: Create GitHub release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.TAG_NAME }}
          release_name: Automatic list generation
          draft: false

      - name: Upload filter lists
        uses: actions/upload-artifact@v2
        with:
          name: Filter Lists
          path: dist/

      - name: Delete older releases
        uses: dev-drprasad/delete-older-releases@v0.2.1
        with:
          keep_latest: 2
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets
